## Notes

To load csv data
df = pd.read_csv('data.csv')

**Pandas Series** is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the inde

use **to_string()** to print the entire DataFrame.

**max_rows**
The number of rows returned is defined in Pandas option settings.
You can check your system's maximum rows with the pd.options.display.max_rows statement
In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.


print(**df.info()**) 
The DataFrames object has a method called info(), that gives you more information about the data set.

Pandas **describe()** is used to view some basic statistical details like percentile, mean, std, etc. of a data frame or a series of numeric values. When this method is applied to a series of strings, it returns a different output which is shown in the examples below.


Pandas **DataFrame.ix[ ]** is both Label and Integer based slicing technique. Besides pure label based and integer based, Pandas provides a hybrid method for selections and subsetting the object using the ix[] operator. ix[] is the most general indexer and will support any of the inputs in loc[] and iloc[].

Pandas **str.slice()** method is used to slice substrings from a string present in Pandas series object. It is very similar to Pythonâ€™s basic principal of slicing objects that works on [start:stop:step] which means it requires three parameters, where to start, where to end and how much elements to skip.
Since this is a pandas string method, .str has to be prefixed every time before calling this method. Otherwise, it gives an error.

he **corr()** method calculates the relationship between each column in your data set.
The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.
The number varies from -1 to 1.
1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.
0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.
-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.
0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.
What is a good correlation? It depends on the use, but I think it is safe to say you have to have at least 0.6 (or -0.6) to call it a good correlation.

**np.vectorize**: This function is a convenient way to apply a Python function element-wise to arrays. It allows you to vectorize a function, which means you can apply it to each element of an array (or arrays) as if it were a NumPy ufunc (universal function).<br>
Purpose: np.vectorize is intended to vectorize a Python function so it can handle NumPy arrays in an element-wise manner. This is particularly useful when dealing with functions that do not natively support array inputs.

## 1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import pandas as pd
#A Pandas Series is like a column in a table.It is a one-dimensional array holding data of any type.
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
import pandas as pd
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
data = {'values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
#can add custome index
#df = pd.DataFrame({'values': [10, 20, 30, 40, 50]}, index=range(5, 10))
series = df['values']

print("Pandas Series from DataFrame:")
print(series)

Pandas Series from DataFrame:
0    10
1    20
2    30
3    40
4    50
Name: values, dtype: int64

## 2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [11]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)

#Pandas tolist() is used to convert a series to list. Initially 
#the series is of type pandas.core.series.Series and applying 
#tolist() method, it is converted to list data type
data_list1 = series.tolist()

# Displaying the list and its type
print("using series.tolist() Converted Python list:")
print(data_list1)
print("Type of the converted list:")
print(type(data_list1))

#using list()
data_list = list(series)
print()
print("using list() Converted Python list:")
print(data_list)
print("Type of the converted list:")
print(type(data_list))

using series.tolist() Converted Python list:
[10, 20, 30, 40, 50]
Type of the converted list:
<class 'list'>

using list() Converted Python list:
[10, 20, 30, 40, 50]
Type of the converted list:
<class 'list'>

## 3. Write a Python program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [12]:
import pandas as pd
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

# we can also do this using Pandas methods (add, subtract, multiply, divide).
#using operator
addition = series1 + series2

subtraction = series1 - series2

multiplication = series1 * series2

division = series1 / series2

print("Series 1:")
print(series1)
print("\nSeries 2:")
print(series2)
print("\nAddition of Series 1 and Series 2:")
print(addition)
print("\nSubtraction of Series 1 and Series 2:")
print(subtraction)
print("\nMultiplication of Series 1 and Series 2:")
print(multiplication)
print("\nDivision of Series 1 and Series 2:")
print(division)

Series 1:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Series 2:
0    1
1    3
2    5
3    7
4    9
dtype: int64

Addition of Series 1 and Series 2:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction of Series 1 and Series 2:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication of Series 1 and Series 2:
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division of Series 1 and Series 2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

## 4. Write a Python program to get the powers of an array values element-wise.
Note: First array elements raised to powers from second array
Expected Output:
Original array
[0 1 2 3 4 5 6]

First array elements raised to powers from second array, element-wise:
[ 0 1 8 27 64 125 216]

In [15]:
import numpy as np

array1 = np.array([0, 1, 2, 3, 4, 5, 6])
array2 = np.array([3, 3, 3, 3, 3, 3, 3])
#Array element from first array is raised to the power of element from second element(all happens element-wise).
result = np.power(array1, array2)

print("Method 1 - Using NumPy's power Function")
print("Original array:")
print(array1)
print("\nFirst array elements raised to powers from second array, element-wise:")
print(result)

Method 1 - Using NumPy's power Function
Original array:
[0 1 2 3 4 5 6]

First array elements raised to powers from second array, element-wise:
[  0   1   8  27  64 125 216]

In [ ]:
import numpy as np

array1 = np.array([0, 1, 2, 3, 4, 5, 6])
array2 = np.array([0, 1, 2, 3, 4, 5, 6])

'''
np.vectorize is intended to vectorize a Python function so it can handle NumPy arrays in an element-wise manner.
This is particularly useful when dealing with functions that do not natively support array inputs.
'''

# Using np.vectorize to apply the power function element-wise
power_function = np.vectorize(pow)
result = power_function(array1, array2)

print("Method 4 - Using NumPy's vectorize Function")
print("Original array:")
print(array1)
print("\nFirst array elements raised to powers from second array, element-wise:")
print(result)

## 5. Write a Python program to create and display a DataFrame from a specified dictionary data which has the index labels.
Sample Python dictionary data and list labels:

In [4]:
import pandas as pd
import numpy as np

data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

print("Method 1 - Using pd.DataFrame Directly")
print(df)

Method 1 - Using pd.DataFrame Directly
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## 6. Write a Python program to display a summary of the basic information about a specified Data Frame and its data.
Sample Python dictionary data and list labels:<br>
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew','Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [8]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print(" Using DataFrame.info()")
df.info()
print()
print("\n Using DataFrame.describe()")
print(df.describe())
print()
print("\n Using DataFrame.describe(include='all')")
print(df.describe(include='all'))

 Using DataFrame.info()
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes


 Using DataFrame.describe()
           score   attempts
count   8.000000  10.000000
mean   13.562500   1.900000
std     4.693746   0.875595
min     8.000000   1.000000
25%     9.000000   1.000000
50%    13.500000   2.000000
75%    17.125000   2.750000
max    20.000000   3.000000


 Using DataFrame.describe(include='all')
             name      score   attempts qualify
count          10   8.000000  10.000000      10
unique         10        NaN        NaN       2
top     Anastasia        NaN        NaN     yes
freq            1        NaN        NaN       5
mean          NaN  13.562500   1.900000     NaN
std           NaN   4.693746   0.875595     NaN
min           NaN   8.000000   1.000000     NaN
25%           NaN   9.000000   1.000000     NaN
50%           NaN  13.500000   2.000000     NaN
75%           NaN  17.125000   2.750000     NaN
max           NaN  20.000000   3.000000     NaN

## 7. Write a Python program to get the first 3 rows of a given DataFrame.
Sample Python dictionary data and list labels:<br>
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']<br>

In [10]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)


first_three_rows = df.head(3)
print(" Using head()")
print(first_three_rows)

first_three_rows = df[:3]
print("\n Using Slicing")
print(first_three_rows)

first_three_rows = df.iloc[:3]
print("\n Using iloc")
print(first_three_rows)

 Using head()
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

 Using Slicing
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

 Using iloc
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

## 8. Write a Python program to select the 'name' and 'score' columns from the following DataFrame.
Sample Python dictionary data and list labels:<br>
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [11]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


selected_columns = df[['name', 'score']]
print(" Using Column Selection with Double Brackets")
print(selected_columns)


selected_columns = df.loc[:, ['name', 'score']]
print("\n Using loc for Label-based Indexing")
print(selected_columns)

 Using Column Selection with Double Brackets
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

 Using loc for Label-based Indexing
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

## 9. Write a Python program to select the specified columns and rows from a given data frame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.<br>
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']<br>

In [16]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Using loc
selected_data = df.loc[['b', 'd', 'f', 'g'], ['name', 'score']]
print(" Using loc")
print(selected_data)

#takes location of name and score coloum and use as input to iloc
selected_data = df.iloc[[1, 3, 5, 6], [df.columns.get_loc('name'), df.columns.get_loc('score')]]
print("\n Using iloc with Integer Positions")
print(selected_data)

 Using loc
      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

 Using iloc with Integer Positions
      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

## 10. Write a Python program to select the rows where the number of attempts in the examination is greater than 2.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew','Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']<br>

In [18]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


attempts_gt_2 = df[df['attempts'] > 2]
print(" Using Boolean Indexing")
print(attempts_gt_2)

attempts_gt_2 = df.query('attempts > 2')
print("\nUsing query")
print(attempts_gt_2)

'''
The apply method in Pandas is a versatile function that allows you to apply a function along an axis of a DataFrame or Series.
It's particularly useful for performing element-wise operations and transformations
'''
attempts_gt_2 = df[df['attempts'].apply(lambda x: x > 2)]
print("\n Using apply Method")
print(attempts_gt_2)

 Using Boolean Indexing
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

Using query
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

 Using apply Method
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

## 11. Write a Python program to count the number of rows and columns of a DataFrame.
Sample data:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew','Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']<br>

In [19]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


num_rows, num_columns = df.shape
print(" Using shape")
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")


num_rows = len(df.index)
num_columns = len(df.columns)
print("\n Using len() on Indexes and Columns")
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")


print("\nUsing info() Method")
df_info = df.info()

 Using shape
Number of rows: 10
Number of columns: 4

 Using len() on Indexes and Columns
Number of rows: 10
Number of columns: 4

Using info() Method
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

## 12. Write a Python program to select the rows where the score is missing, i.e. is NaN.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew','Laura', 'Kevin', 'Jonas'],<br>
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],<br>
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}<br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']<br>

In [20]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


rows_with_missing_scores = df[df['score'].isna()]
print(" Using isna()")
print(rows_with_missing_scores)



rows_with_missing_scores = df[df['score'].isnull()]
print("\n Using isnull()")
print(rows_with_missing_scores)

 Using isna()
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

 Using isnull()
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

## 13. Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [21]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)



filtered_rows = df[(df['attempts'] < 2) & (df['score'] > 15)]
print("Method 1 - Using Boolean Indexing")
print(filtered_rows)



filtered_rows = df.query('attempts < 2 and score > 15')
print("\nMethod 2 - Using query() Method")
print(filtered_rows)

Method 1 - Using Boolean Indexing
    name  score  attempts qualify
j  Jonas   19.0         1     yes

Method 2 - Using query() Method
    name  score  attempts qualify
j  Jonas   19.0         1     yes

## 14. Write a Python program to change the score in row 'd' to 11.5.

In [32]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


df.loc['d', 'score'] = 11.5
print(" Using .loc Indexer")
print(df)

'''
Label-Based Access: .at allows you to access or modify a specific value using 
row and column labels. It is designed for quick retrieval or assignment of a single value.
'''
df.at['d', 'score'] = 11.5
print("\n Using .at Indexer")
print(df)

 Using .loc Indexer
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

 Using .at Indexer
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## 15. Write a Python program to calculate the sum of the examination attempts by the students.

In [3]:
import numpy as np
import pandas as pd
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)



total_attempts = df['attempts'].sum()
print("Using .sum() Method")
print("Total number of examination attempts:", total_attempts)



total_attempts = sum(df['attempts'])
print("\nUsing sum() Function ")
print("Total number of examination attempts:", total_attempts)


'''
The agg() method allows you to apply a function or a list of function names to be
executed along one of the axis of the DataFrame, default 0, which is the index (row) axis.
Note: the agg() method is an alias of the aggregate() method.
Syntax
dataframe.agg(func, axis, args, kwargs)
'''
total_attempts = df['attempts'].agg('sum')
print("\nUsing agg() Method")
print("Total number of examination attempts:", total_attempts)

Using .sum() Method
Total number of examination attempts: 19

Using sum() Function
Total number of examination attempts: 19

Using agg() Method
Total number of examination attempts: 19

## 16. Write a Python program to calculate the mean score for each different student in DataFrame.

In [5]:
import numpy as np
import pandas as pd

# Creating the DataFrame
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

mean_score = df['score'].mean()
print("Mean Score Calculation:")
print("Mean score for all students:", mean_score)

Mean Score Calculation:
Mean score for all students: 13.5625

In [31]:
data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score1': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'score2': [11, 14, 15, 13, 12, 18, 16, 17, 14, 20]  # Random values for demonstration
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

df['mean_score'] = df[['score1', 'score2']].mean(axis=1)

print("DataFrame with Mean Scores:")
print(df)

DataFrame with Mean Scores:
        name  score1  score2  mean_score
a  Anastasia    12.5      11       11.75
b       Dima     9.0      14       11.50
c  Katherine    16.5      15       15.75
d      James     NaN      13       13.00
e      Emily     9.0      12       10.50
f    Michael    20.0      18       19.00
g    Matthew    14.5      16       15.25
h      Laura     NaN      17       17.00
i      Kevin     8.0      14       11.00
j      Jonas    19.0      20       19.50

## 17. Write a Python program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.

In [11]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
print("Original DataFrame:")
print(df)

new_row = pd.DataFrame({'name': ['Suresh'], 'score': [15.5], 'attempts': [1], 'qualify': ['yes']}, index=['k'])


df_with_new_row = pd.concat([df, new_row])
print("\nDataFrame After Appending New Row 'k':")
print(df_with_new_row)


df_original = df_with_new_row.drop('k')
print("\nDataFrame After Deleting Row 'k':")
print(df_original)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame After Appending New Row 'k':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

DataFrame After Deleting Row 'k':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame After Appending New Row 'k':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

DataFrame After Deleting Row 'k':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## 18. Write a Python program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [18]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)

sorted_by_name= df.sort_values(by=['name'], ascending=[False])
sorted_by_score= df.sort_values(by=['score'], ascending=[True])

print("\nSorted DataFrame by name:")
print(sorted_by_name)
print()
print("\nSorted DataFrame by name:")
print(sorted_by_score)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Sorted DataFrame by name:
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes


Sorted DataFrame by name:
        name  score  attempts qualify
i      Kevin    8.0         2      no
b       Dima    9.0         3      no
e      Emily    9.0         2      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
d      James    NaN         3      no
h      Laura    NaN         1      no

## 19. Write a Python program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [19]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)

df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

print("\nDataFrame After Replacing 'qualify' Column Values:")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame After Replacing 'qualify' Column Values:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

## 20. Write a Python program to delete the 'attempts' column from the DataFrame.

In [20]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)

df_dropped = df.drop(columns=['attempts'])

print("\nDataFrame After Deleting 'attempts' Column:")
print(df_dropped)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame After Deleting 'attempts' Column:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

## 21. Write a Python program to insert a new column in existing DataFrame.

In [21]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)

df['age'] = [22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
print("\nDataFrame After Inserting 'age' Column:")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame After Inserting 'age' Column:
        name  score  attempts qualify  age
a  Anastasia   12.5         1     yes   22
b       Dima    9.0         3      no   23
c  Katherine   16.5         2     yes   24
d      James    NaN         3      no   25
e      Emily    9.0         2      no   26
f    Michael   20.0         3     yes   27
g    Matthew   14.5         1     yes   28
h      Laura    NaN         1      no   29
i      Kevin    8.0         2      no   30
j      Jonas   19.0         1     yes   31

## 22. Write a Python program to iterate over rows in a DataFrame.

In [23]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
'''
The iterrows() method generates an iterator object of the DataFrame, allowing us to iterate each row in the DataFrame.
Each iteration produces an index object and a row object (a Pandas Series object).
Syntax
dataframe.iterrows()
'''
print("Iterating over rows using iterrows():")
for index, row in df.iterrows():
    print(f"Index: {index}")
    print(f"Row data:\n{row}\n")

Iterating over rows using iterrows():
Index: a
Row data:
name        Anastasia
score            12.5
attempts            1
qualify           yes
Name: a, dtype: object

Index: b
Row data:
name        Dima
score        9.0
attempts       3
qualify       no
Name: b, dtype: object

Index: c
Row data:
name        Katherine
score            16.5
attempts            2
qualify           yes
Name: c, dtype: object

Index: d
Row data:
name        James
score         NaN
attempts        3
qualify        no
Name: d, dtype: object

Index: e
Row data:
name        Emily
score         9.0
attempts        2
qualify        no
Name: e, dtype: object

Index: f
Row data:
name        Michael
score          20.0
attempts          3
qualify         yes
Name: f, dtype: object

Index: g
Row data:
name        Matthew
score          14.5
attempts          1
qualify         yes
Name: g, dtype: object

Index: h
Row data:
name        Laura
score         NaN
attempts        1
qualify        no
Name: h, dtype: object

Index: i
Row data:
name        Kevin
score         8.0
attempts        2
qualify        no
Name: i, dtype: object

Index: j
Row data:
name        Jonas
score        19.0
attempts        1
qualify       yes
Name: j, dtype: object

## 23. Write a Python program to get list from DataFrame column headers.

In [25]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

column_headers = list(df.columns)

print("List of DataFrame column headers:")
print(column_headers)

List of DataFrame column headers:
['name', 'score', 'attempts', 'qualify']

In [29]:
# Example with multiple scores per student
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas',
             'Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19,
              15.0, 10, 17.0, 11.0, 10, 21, 15.0, 12.0, 9, 20],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1,
                 1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes',
                'yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
df = pd.DataFrame(exam_data, index=labels*2)


# Calculating the mean score for each student using groupby
mean_score_per_student = df.groupby('name')['score'].mean()
print(mean_score_per_student)

# Displaying the result
# print("\nMethod 2 - Mean Score per Student with Multiple Entries")
# print(mean_score_per_student)

name
Anastasia    13.75
Dima          9.50
Emily         9.50
James        11.00
Jonas        19.50
Katherine    16.75
Kevin         8.50
Laura        12.00
Matthew      14.75
Michael      20.50
Name: score, dtype: float64